
dont add
/bin/
.classpath
.classpath
.gradle/8.6/executionHistory/executionHistory.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.bin
build/tmp/compileJava/previous-compilation-data.bin
build/classes/java/main/Test.class
build/classes/java/main/process/api/PrototypeProcess.class
build/classes/java/main/process/api/ProcessInterface.class
build/classes/java/main/process/api/OutputSource.class
build/classes/java/main/process/api/InputSource.class
build/classes/java/main/process/api/DSCode.class
build/classes/java/main/process/api/DataStorage.class
build/classes/java/main/process/api/ComputeEngine.class
build/tmp/compileTestJava/previous-compilation-data.bin
build/test-results/test/binary/results.bin
build/test-results/test/binary/output.bin.idx
build/test-results/test/binary/output.bin
build/reports/tests/test/js/report.js
build/reports/tests/test/index.html
build/reports/tests/test/css/style.css
build/reports/tests/test/css/base-style.css
build/classes/java/test/test/conceptual/api/TestConceptualAPI.class
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/8.6/fileHashes/resourceHashesCache.bin
.gradle/8.6/executionHistory/executionHistory.lock
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/file-system.probe
build/classes/java/main/conceptual/api/ComputationalAPI.class
build/classes/java/main/conceptual/api/ComputationalAPIInterface.class
build/classes/java/main/conceptual/api/ComputeEngine.class
build/classes/java/main/conceptual/api/ComputeEngineInterface.class
build/classes/java/main/conceptual/api/ComputeEngineTwo.class
build/classes/java/main/conceptual/api/ComputeEngineTwoInterface.class
build/classes/java/main/conceptual/api/InputSource.class
build/classes/java/main/conceptual/api/InputSourceInterface.class
build/classes/java/main/conceptual/api/OutputSource.class
build/classes/java/main/conceptual/api/OutputSourceInterface.class
build/classes/java/main/network/api/ComputeE.class
build/classes/java/main/network/api/NetworkBoundAPI.class
build/classes/java/main/network/api/UserInput.class
build/classes/java/test/infrastructureTest/InMemoryInputSource.class
build/classes/java/test/infrastructureTest/InMemoryOutputSource.class
test/emptyfile
/.gradle/
/build/
build.gradle
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.6/fileHashes/fileHashes.lock
.gradle/8.6/executionHistory/executionHistory.lock
